#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreStyles'}
	<link href="@{'/public/stylesheets/chosen.min.css'}?v=0.1" rel="stylesheet">
	<style type="text/css">
		.sidebar-brand {
			height: 95px;
			font-size: 18px;
			line-height: 60px;
			text-indent: 20px;
		}
		.sidebar-brand span{
			display: block;
			text-decoration: none;
			color: white;
		}
		#sidebar-wrapper {
			z-index: 1000;
			position: fixed;
			right: 0px;
			width: 600px;
			height: 100%;
			margin-left: -250px;
			overflow-y: auto;
			background-color: #16212F;
			color: black;
		}
		#sidebar-wrapper ul{
			padding: 0;
		}
		#sidebar-wrapper ul li{
			height: 65px;
			width: 100%;
			display: block;
			color: white;
			background-color: #314D6B;
			margin-bottom: 3px;
		}
		#sidebar-wrapper ul li img{
			height: 100%
		}
		#sidebar-wrapper h2{
			color: white;
		}
		#sidebar-wrapper ul li span{
			font-size: 18px;
			display: inline-block;
			margin-left: 3%;
		}
		
		#page-content-wrapper{
			padding: 20px;
			position: relative;
			widows: 100%;
		}
		
		.search_suggest {
		    text-align: left;
		    width: 430px;
		    top: 129px;
		}
	.popup_block_new {
	    z-index: 200;
	    position: absolute;
	    box-shadow: 0 0 12px #000000;
	}
	.popup_body {
		border-top: none;
	    border: none;
	    position: relative;
	    background: #417A9B;
	}
	
	.search_suggest .match {
	    display: block;
	    position: relative;
	    height: 54px;
	    overflow: hidden;
	    border-top: 1px solid #13242e;
		text-decoration: none;
    	color: #ffffff;
	}
	.search_suggest .match:hover {
	    background-color: #212d3d;
	}
	.search_suggest .match .match_name {
	    position: absolute;
	    left: 134px;
	    top: 12px;
	    width: 258px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size: 14px;
	    color: #ffffff;
	}
	.search_suggest .match .match_img {
	    position: absolute;
	    left: 4px;
	    top: 4px;
	}
	#btnAddGame{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#799905), color-stop(95%,#536904));
		border-radius: 2px;
		margin-top: 30px;
		padding: 5px 10px;
		text-align: center;
		font-size: 18px;
		line-height: 30px;
		color: #D2E885;
		border-color: #536904;
	}
	#wrapper ul li span:last-child{
		float: right;
		margin-right: 30px;
		margin-top: 10px;
		color: #E74445;
		cursor:pointer;
	}
	</style>
#{/set}

<div id="wrapper">
	<div id="sidebar-wrapper">
		<div class="sidebar-brand"><h2>Your wishlist</h2></div>
		<ul>
			#{list items: gameList, as: 'game'}
				<li>
					<img src="${game.getGame()?.image}">
					<span>
						<div>${game.getGameName()}</div>
						<div style="font-size: 12px; color: #67c1f5; font-style: italic;">Game price: $${game.getGame()?.price} - You want to pay: $${game.limitPrice}</div>
					</span>
					<span gameId="${game.gameId}">X</span>
				</li>
			#{/list}
		</ul>
	</div>
	
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 ">
					<div class="form-group">
						<label for="game1">Game Name</label>
						<input name="gameName" class="form-control" id="gameFilter" style="color: black;" placeholder="Terraria">
						<div id="searchterm_options" class="search_suggest popup_block_new">
							<div class="popup_body" style="border-top: none;">
								<div id="search_suggestion_contents">
								</div>
							</div>
						</div>
									
						<div id="gamesSearchList"></div>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" value="${session.get('userEmail')}" name="email" placeholder="aaa@bbb.com">
					</div>
					<div class="form-group" style="display: none;">
						<label for="game1">Game ID</label>
						<input type="text" class="form-control" id="gameId" placeholder="570">
					</div>
					<div class="form-group">
						<label for="game1">How much do you want to pay? (USD)</label>
						<input type="text" class="form-control" id="price" placeholder="2.50">
					</div>
					<input type="button" value="Add to whislist" id="btnAddGame" class="btn btn-default">
				</div>
			</div>
		</div>
	</div>
</div>


#{set 'moreScripts'}
	#{get 'moreScripts' /}
	<script type="text/javascript" src="@{'/public/javascripts/chosen.jquery.min.js'}"></script>

	<script type="text/javascript">
		function setRemoveAction(){
			$("#wrapper ul li span:last-child").click(function(){
				var divToDelete = $(this);
				var gameId = $(this).attr("gameId");
				$.ajax({
					url: "/DiscountController/removeGamesDiscount",
					data: "gameId="+gameId
				}).done(function(d) {
					if( d == "true"){
						divToDelete.parent().remove();
					}else{
						alert("An error ocurred while trying to remove the game");
					}
				});
			});
		}
		$(document).ready(function(){
			
			$("#gameFilter").keyup(function( event ) {
				if ($('#gameFilter').val().length > 2) {
					$.ajax({
						url: "/DiscountController/searchGames",
 						data: "text="+$('#gameFilter').val(),
					}).done(function(d) {
						$('#search_suggestion_contents').html(d);
						$("#searchterm_options").css("width", "95%");
						$("#searchterm_options a").attr("href","#");
						$("#searchterm_options").show();
						$('.match_price').remove();
						$("#searchterm_options a").click(function(){
							var appId = $(this).attr("data-ds-appid");
							var gameName = $(".match_name", $(this)).html();
							$("#gameId").val(appId);
							$("#gameFilter").val(gameName);
							$('#search_suggestion_contents').css("display", "none");
						});
					});
				}
			});
			
			
			$(document).mouseup(function (e){
			    var container = $("#searchterm_options");

			    if (!container.is(e.target) // if the target of the click isn't the container...
			        && container.has(e.target).length === 0) // ... nor a descendant of the container
			    {
			        container.hide();
			    }
			});
			
			$("#btnAddGame").click(function(e){
				e.preventDefault();
				$.ajax({
					url: "/DiscountController/saveGamesDiscount",
					data: "game="+$("#gameId").val()+"&price="+$("#price").val()+"&email="+$("#email").val()
				}).done(function(d) {
					$("#sidebar-wrapper ul").append(d);
					setRemoveAction();
				});
			});
			
			setRemoveAction();
		}); // FIN READY
		
	</script>
#{/set}
