#{if gd}
<li>
	<img src="${gd.getGame()?.image}">
	<span>
		<div>${gd.getGameName()}</div>
		<div style="font-size: 12px; color: #67c1f5; font-style: italic;">Game price: $${gd.getGame()?.price} - You want to pay: $${gd.limitPrice}</div>
	</span>
	<span gameId="${gd.gameId}">X</span>
</li>
#{/if}