#{if false}
	<ul class="friends">
	#{list items: listDto, as: 'player'}
		<li><img src="${player.avatar}">${player.nickName} #{if player.realName}(${player.realName})#{/if}</li>
	#{/list}
	</ul>
#{/if}

#{if listDto}
	<select class="friends" id="selectFriendsIds">
	#{list items: listDto, as: 'player'}
		<option value="${player.id}">${player.nickName} #{if player.realName}(${player.realName})#{/if}</option>
	#{/list}
	</select>
#{/if}
