
#{if gameDtoList}
<div class="row shareLink" onClick="copyTextToClipboard('shareLinkId');">
	<div class="col-md-offset-3 col-md-6">
		#{if play.Play.mode.isDev()}
			#{set domain : "localhost:9000" /}
		#{/if}
		#{else}
			#{set domain : "oursharedsteamgames.herokuapp.com" /}
		#{/else}
		<img src="@{'/public/images/linkShare.png'}">
		<span id="shareLinkId">http://${domain}/compare/${usersIds}</span>
	</div>
	<div class="col-md-offset-5 col-md-2 copiedToClipboard"><span>Copied to clipboard!</span></div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-1 gameFilters" style="margin-bottom: 20px;">
		<button class="btn btn-filter" filter="" onclick="filterGames('ALL', this);"><span>All</span></button>
		<button class="btn btn-filter" filter="singlePlayer" onclick="filterGames('singlePlayer', this);"><span>SinglePlayer</span></button>
		<button class="btn btn-filter" filter="multiplayer" onclick="filterGames('multiplayer', this);"><span>MultiPlayer</span></button>
	</div>
	<div class="col-md-2 col-md-offset-1 views" style="margin-bottom: 20px;">
		<img id="listIcon" src="@{'/public/images/list.png'}" onclick="listView();">
		<img id="gridIcon" src="@{'/public/images/grid-clicked.png'}" style="background-color: #83CCF6;" onclick="gridView();">
	</div>
	<div class="col-md-3 osFilters" style="margin-bottom: 20px;">
		<button class="btn btn-filter" filter="" onclick="filterOs('', this);"><span>All</span></button>
		<button class="btn btn-filter" filter="win" onclick="filterOs('win', this);"><span>Windows</span></button>
		<button class="btn btn-filter" filter="mac" onclick="filterOs('mac', this);"><span>Mac</span></button>
		<button class="btn btn-filter" filter="linux" onclick="filterOs('linux', this);"><span>Linux</span></button>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10"><h4>Shared games: <span id="sharedGamesCount">${gameDtoList.size()}</span></h4></div>
</div>
#{/if}

<div class="row grid">
	<div class="col-md-11 col-md-offset-1">
		#{list items: gameDtoList, as: 'gameDto'}
			<div class="game" style="background-image: url('${gameDto.background}')">
				<div class="imgGame">
					<a href="http://store.steampowered.com/app/${gameDto.id}" target="_blank" title="${gameDto.name}">
						<span>
							<label>${gameDto.getGameName()}</label>
						</span>
						<img src="${gameDto.image}" alt="${gameDto.name}">
					</a>
				</div>
				<a href="steam://run/${gameDto.id}" class="playLink">
					<span class="playSpan">Play game</span>
				</a>
				<div class="gameType pull-right">
					<span>
					#{if gameDto.singleplayer}<img style="background-color: transparent;" class="SP" title="Single Player" src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_singlePlayer.png" />#{/if}
					#{if gameDto.multiplayer}<img style="background-color: transparent;" class="MP" title="Multiplayer" src="/public/images/multiplayer.png" />#{/if}
					#{if gameDto.coop}<img style="background-color: transparent;" class="Coop" title="Coop" src="http://store.akamai.steamstatic.com/public/images/v6/ico/ico_coop.png" />#{/if}
					#{if gameDto.coopLocal}<img style="background-color: transparent;" class="CoopLocal" title="Coop Local" src="http://store.akamai.steamstatic.com/public/images/v6/ico/ico_coop.png" />#{/if}
					</span>
					#{if gameDto.forWin}
						<img title="Windows" style="width: 25px;" src="http://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png" title="windows">
					#{/if}
					#{if gameDto.forMac}
						<img title="Mac" style="width: 25px;" src="http://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png" title="mac">
					#{/if}
					#{if gameDto.forLinux}
						<img title="Linux" style="width: 25px;" src="http://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png" title="linux">
					#{/if}
				</div>
			</div>
		#{/list}
		#{else}<h3>No games in common</h3>#{/else}
	</div>
</div>

<div class="hidden row listStyle">
	#{list items: gameDtoList, as: 'gameDto'} 
		<div class="col-md-offset-1 col-md-10 game" style="background-image: url('${gameDto.background}')">
			<div class="col-md-7">
				<img src="${gameDto.image}" alt="${gameDto.name}">
				<label>${gameDto.getGameName()}</label>
			</div>
			<div class="col-md-3 os">
				<span>
				#{if gameDto.forWin}
				<img src="http://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png" title="windows">
				#{/if}
				#{if gameDto.forMac}
					<img src="http://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png" title="mac">
				#{/if}
				#{if gameDto.forLinux}
					<img src="http://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png" title="linux">
				#{/if}
				</span>
				<span class="gameType">
				#{if gameDto.singleplayer}<img style="background-color: transparent;" class="SP" title="Single player" src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_singlePlayer.png" />#{/if}
				#{if gameDto.multiplayer}<img style="background-color: transparent;" class="MP" title="Multi player" src="/public/images/multiplayer.png" />#{/if}
				#{if gameDto.coop}<img style="background-color: transparent;" class="Coop" title="Coop" src="http://store.akamai.steamstatic.com/public/images/v6/ico/ico_coop.png" />#{/if}
				#{if gameDto.coopLocal}<img style="background-color: transparent;" class="CoopLocal" title="Coop Local" src="http://store.akamai.steamstatic.com/public/images/v6/ico/ico_coop.png" />#{/if}
				</span>
			</div>
			<div class="col-md-2">
				<a href="steam://run/${gameDto.id}" class="playLink">
					<span class="playSpan">Play game</span>
				</a>
				<a href="http://store.steampowered.com/app/${gameDto.id}" target="_blank" title="${gameDto.name}" class="storeLink">
					Store page
				</a>
			</div>
		</div>
	#{/list}
</div>

	<script type="text/javascript">
		function refreshCount(){
			$("#sharedGamesCount").html($(".game:visible").length);
		}
		
		function filterGames(type, buttonClicked){
			var osFilter = "_platform_"+$(".selected", ".osFilters").attr("filter");
			
			$(".selected", ".gameFilters").removeClass("selected");
			$(buttonClicked).addClass("selected");
			
			$(".game").each(function(){
				if(type == "multiplayer"){
					if($(this).html().indexOf("multiplayer") != -1 && $(this).html().indexOf(osFilter) != -1){
						$(this).css("display", "inline-block");
					}else{
						$(this).css("display", "none");
					}
				}else if(type == "singleplayer"){
					if($(this).html().indexOf("singlePlayer") != -1 && $(this).html().indexOf(osFilter) != -1){
						$(this).css("display", "none");
					}else{
						$(this).css("display", "inline-block");
					}
				}else{
					$(this).css("display", "inline-block");
				}
				refreshCount();
			});
		}
		function filterOs(type, buttonClicked){
			var gameFilter = $(".selected", ".gameFilters").attr("filter");
			
			$(".selected", ".osFilters").removeClass("selected");
			$(buttonClicked).addClass("selected");
			console.log(gameFilter);
			$(".game").each(function(){
				if(type == "mac"){
					if($(this).html().indexOf(gameFilter) != -1 && $(this).html().indexOf("icon_platform_mac") != -1){
						$(this).css("display", "inline-block");
					}else{
						$(this).css("display", "none");
					}
				}else if(type == "win"){
					if($(this).html().indexOf(gameFilter) != -1 &&  $(this).html().indexOf("icon_platform_win") != -1){
						$(this).css("display", "inline-block");
					}else{
						$(this).css("display", "none");
					}
				}else if(type == "linux"){
					if($(this).html().indexOf(gameFilter) != -1 && $(this).html().indexOf("icon_platform_linux") != -1){
						$(this).css("display", "inline-block");
					}else{
						$(this).css("display", "none");
					}
				}else{
					$(this).css("display", "inline-block");
				}
			});
			refreshCount();
		}
		
		function gridView(){
			$(".listStyle").addClass("hidden");
			$(".grid").removeClass("hidden");
			$('#gridIcon').attr("src","/public/images/grid-clicked.png");
			$('#gridIcon').css("background-color","#83CCF6");
			$('#listIcon').attr("src","/public/images/list.png");
			$('#listIcon').css("background-color","#263C4d")
		}
		
		function listView(){
			$(".grid").addClass("hidden");
			$(".listStyle").removeClass("hidden");
			$('#listIcon').attr("src","/public/images/list-clicked.png");
			$('#listIcon').css("background-color","#83CCF6");
			$('#gridIcon').attr("src","/public/images/grid.png");
			$('#gridIcon').css("background-color","#263C4d");
		}
		
		function copyTextToClipboard(element) {
		    var doc = document
		        , text = doc.getElementById(element)
		        , range, selection;
		    if (doc.body.createTextRange) {
		        range = document.body.createTextRange();
		        range.moveToElementText(text);
		        range.select();
		    } else if (window.getSelection) {
		        selection = window.getSelection();
		        range = document.createRange();
		        range.selectNodeContents(text);
		        selection.removeAllRanges();
		        selection.addRange(range);
		    }
		    document.execCommand('copy');
		    $(".copiedToClipboard").fadeIn();
		    setTimeout(function(){
			    $(".copiedToClipboard").fadeOut();
		    }, 1000);

		}
		
		$(document).ready(function(){
			$(".gameFilters button:first").click();
			$(".osFilters button:first").click();
		});
	</script>
